[project]
name = "cygnet-to-ignition"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.3",
    "rich>=14.2.0",
    "typer>=0.20.0",
]
